@model List<Listing>
@using KiwiCorpSite.Controllers
@using KiwiCorpSite.Models

@{
    ViewData["Title"] = "Cart";
    double sum = 0.0;
    Account acc = AccountController.ActiveAccount;
}

<h1>Cart</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].CustomerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Grade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
                    @{
                        sum += item.Price;
                    }
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                <a asp-action="Remove" asp-route-id="@item.ListingID">Delete</a>
            </td>
        </tr>
}
    @if(acc != null && acc.CreditedFunds > 0) {
        sum -= acc.CreditedFunds;
        <div> Credit: $@acc.CreditedFunds</div>
            <div> Total: $@sum</div>
    } else {
        <div> Total: $@sum</div>  
    }
        
    <a asp-controller="Account" asp-action="Checkout">Checkout</a>
    </tbody>
</table>
